* {
    color: white;
    font-family: "Ubuntu", Arial, sans-serif;
    line-height: 25px;
}

body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    width: 130px;
    text-decoration: none;
    background-color: #525c7e;
    transition: 0.25s;
  }

  li a:hover {
    background-color: #6b78a2;
  }

  main {
    padding: 70px;
    background-color: #333848;
  }

  h1 {
    font-size: 50px;
  }

  .centered
  {
    text-align: center;
  }

footer p {
    background-color: #333;
    margin: 0;
    width: 100%;
    padding: 30px 0;
}

.bold-p 
{
  font-weight: bold;
}
.big-p {
  font-size: 22px;
}

.super-p {
  font-weight: bold;
  font-size: 22px;
}

.card {
  padding: 100px 10px;
  display: grid;
  grid-template-columns: 25% 70%;
  gap: 5%;
}

.experience-card
{
  padding: 10px;
  display: grid;
  grid-template-columns: 25% 70%;
  gap: 5%;
}

.experience-card p
{
  margin: 6px auto;
}

#profile-pic
{
  height:300px;
  width:300px;
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  margin: 0 auto;
} 

#profile-pic:hover
{
  box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.75);
}