* {
    color: white;
    font-family: "Ubuntu", Arial, sans-serif;
    line-height: 25px;
}

body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    width: 130px;
    text-decoration: none;
    background-color: #525c7e;
    transition: 0.25s;
  }

  li a:hover {
    background-color: #6b78a2;
  }

  main {
    padding: 70px 150px;
    background: linear-gradient(#121315, #333848) ;
  }

  h1 {
    font-size: 50px;
  }

  .section-header
  {
    margin-top: 100px;
    font-size: 30px;
  }

  .centered
  {
    text-align: center;
  }


footer p {
    background-color: #333;
    margin: 0;
    width: 100%;
    padding: 50px 0;
}

.bold-p 
{
  font-weight: bold;
}
.big-p {
  font-size: 20px;
}

.super-p {
  font-weight: bold;
  font-size: 20px;
}

.card {
  padding: 100px 10px 50px 10px;
  display: grid;
  grid-template-columns: 25% 70%;
  gap: 5%;
}

.experience-card
{
  padding: 10px;
  display: grid;
  grid-template-columns: 25% 70%;
  gap: 5%;
}

.experience-card p, .unstyled-experience-card p
{
  margin: 6px auto;
}

.navbar-icon-button
{
  height: 25px;
  width: 25px;
}

.navbar-icon
{
  height: 100%;
}

.float-right
{
  float: right;
}

#profile-pic
{
  height:300px;
  width:300px;
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  margin: 0 auto;
} 

.faint {
  color: rgb(200, 200, 200);
}
#profile-pic:hover
{
  box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.75);
}
/*Navbar styling*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #838383;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}